<ng-container *ngIf="jsonData">
  <mat-card class="example-card" *ngIf="preguntaActual as pregunta">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ pregunta.pregunta }}?</mat-card-title>
      <mat-card-subtitle>{{ pregunta.grupo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="respuestas">
        <mat-checkbox
          (change)="onCheckboxChange()"
          *ngFor="let respuesta of pregunta.respuestas"
          class="example-margin"
          disabled="{{ disableCheck }}"
        >
          {{ respuesta }}
        </mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button disabled="{{ buttonEnable() }}">ANTERIOR</button>
      <button mat-button (click)="renderPregunta()">SIGUIENTE</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
