<mat-form-field appearance="fill">
    <mat-label>Color Selected</mat-label>
    <input matInput id="colorSelect" [(ngModel)]="selectedColor" placeholder="Select Color" (focus)="handleFocus($event)"
        (blur)="handleBlur()">
    <button *ngIf="selectedColor" matSuffix mat-icon-button aria-label="Clear" (click)="selectedColor=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<color-chrome 
[hidden]="!show"
[color]="selectedColor" 
(onChangeComplete)="handleChangeComplete($event)">
</color-chrome>